@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'Manrope', sans-serif;
    background-image: url(assets/images/bg-pattern.svg);
background-repeat: no-repeat;  
}
  

header {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 3.9rem;
    background-image: url(assets/images/pattern-circles.svg);
background-repeat: no-repeat;
background-position: center;
padding: 5rem 0;
}

header h1 {

font-size: 2rem;
font-weight: 800;
line-height: 2.732rem;
text-align: center;
color: rgba(41, 51, 86, 1);

}

header p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2.3rem;
    text-align: center;
    color: rgba(132, 142, 173, 1);


}

main {
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.1521);
    background: rgba(255, 255, 255, 1);
margin: 0 2.4rem;
padding-bottom: 3.2rem;
}

h2 {
font-size: 1.2rem;
font-weight: 800;
line-height: 1.639rem;
letter-spacing: 1.7142857313156128px;
text-align: center;
color: rgba(132, 142, 173, 1);

}
.slider-container {
    width: 27rem;
    margin-top: 1rem;
  }
  
  input[type="range"] {
    width: 100%;
  }
  

  .monthdollar{
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
    align-items: center;
  }

  .dollar {
font-size: 3.2rem;
font-weight: 800;
line-height: 4.371rem;
letter-spacing: -0.800000011920929px;
text-align: right;
color: rgba(41, 51, 86, 1);
  }

  .month{
font-size: 1.4rem;
font-weight: 600;
line-height: 1.912rem;
text-align: center;
color: rgba(132, 142, 173, 1);

  }

  .discount{
    display: flex;
    gap: 1.35rem;
    align-items: center;
    margin-top: 3rem;
  }



  .yearlybilling{
font-size: 1.2rem;
font-weight: 600;
line-height: 1.639rem;
text-align: center;
color: rgba(132, 142, 173, 1);

  }

  .monthlyblilling{font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.639rem;
    text-align: center;
    color: rgba(164, 243, 235, 1);
  }

  .circle {
    background: rgba(207, 216, 239, 1);
/* padding: 0.5rem 2rem;
border-radius: 1rem; */
width: 4.3rem;
height: 2.2rem;
border-radius: 1rem;
display: flex;
justify-content: flex-start;
align-items: center;
  }

  .circle2 {
    margin: 0 0.2rem;
    background: rgba(255, 255, 255, 1);
    width: 1.4rem;
    height: 1.4rem;
border-radius: 1rem;    
  }

  .discountconteiner p {
    color: rgba(255, 141, 104, 1);
  }

  hr {
    margin-top: 3.8rem;
    height: 1px;
    width: 100%;
    border-top: 1px solid #ccc;
  }


  section {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    margin-top: 2.4rem;
  }

  .correctandP {
    display: flex;
    gap: 1.6rem;
    align-items: center;

  }

  .correctandP  p {
font-size: 1.2rem;
font-weight: 600;
line-height: 1.639rem;
text-align: left;
color: rgba(132, 142, 173, 1);
  }

  .correct {
    width: 6.95px;
height: 5.04px;
    border: 2px solid rgba(16, 216, 196, 1)
  }

  .lastly{
    background: rgba(41, 51, 86, 1);
border-radius: 2rem;
padding: 1.3rem 4.5rem;
margin-top: 3.3rem;
  }

  .lastly p {
font-size: 1.2rem;
font-weight: 800;
line-height: 1.639rem;
text-align: center;
color: rgba(190, 205, 255, 1);
  }